
        .av {
            background-color: beige;
        }
        .box {
            margin-top: 10px;
            width: 800px;
            height: 700px;
            background-color: rgb(0, 0, 0);
            margin-left: 321px;
            background: transparent;
            background-color: rgba(0, 0, 0, 0.4);
            box-shadow: 5px 1px 30px rgb(0, 0, 0);
            border: 1px solid rgb(255, 255, 255);
            border-radius: 20px;
        }
        .re1 {
            font-family: Arial, Helvetica, sans-serif;
            margin-top: 4px;
            font-size: 50px;
            margin-left: 590px;
            color: rgb(255, 255, 255);
        }
        .re13 {
            width: 700px;
            height: 20px;
            margin-left: 40px;
            font-size: 30px;
            
            color: rgb(254, 254, 254);
        }
        .re130{
			font-size: 10px;
			width: 700px;
            height: 50px;
            margin-left: 40px;
            border-radius: 9px;
            
		}
        .re130:hover {
            transform: scale(1.03);
            transition: 0.2s;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 15px;
            
            color: #000000;
        }

        .re11 {
            font-family: Arial, Helvetica, sans-serif;
            margin-top: 40px;
            font-size: 20px;
            margin-left: 80px;
            width: 600px;
            height: 200px;
            
            background-color: rgba(255, 255, 255, 0.4);
            box-shadow: 3px 1px 20px rgb(0, 0, 0);
            color: rgb(255, 255, 255);
            border-radius: 9px;

        }
        .re11:hover {
            transform: scale(1.03);
            transition: 0.2s;
            font-size: 24px;
            background-color: white;
            color: #000000;
        }
        .re12 {
            font-family: Arial, Helvetica, sans-serif;
            margin-top: 40px;
            font-size: 30px;
            margin-left: 270px;
            width: 240px;
            height: 50px;
            border-radius: 10px;
            border: solid white;
            background-color: rgb(255, 255, 255);
            cursor: pointer;
        }
        .re12:hover {
            background-color: rgb(192, 248, 208);
            transition: 0.7s;
            transform: scale(1.03);
            border: solid rgb(180, 249, 191);
        }
        