@charset "UTF-8";

.veh{
	width: 100px;
	height: 90px;
	position: absolute;
}
.bt{
	color: black;
	
}
.container1{
	background-color: rgb(0, 250, 146);
	height: 200px;
	text-align: center;
	font-weight: bold;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
