@charset "UTF-8";

body {
            font-family: Arial, sans-serif;
            background-color: rgb(246, 246, 246);
            text-align: center;
        }
        h1 {
            color: #333;
        }
        .container {
            width: 1000px;
            height: 500px;
            margin: 20px auto;
            background-color: rgb(151, 166, 158);
            
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        input[type="text"], input[type="number"] {

            padding: 10px;
            margin: 5px 0;
            margin-left: 0;
            margin-right: 0px;
        }
        input[type="submit"] {
            background-color: #007BFF;
            color: #fff;
            border: none;
            border-radius: 4px;
            padding: 10px 20px;
            cursor: pointer;
        }
        .bl{
			
			margin-right: 30px;
			width: 90%;
		}