        body {
            background-color: #f8f9fa;
            font-family: 'Arial', sans-serif;
        }

        .container {
            background-color: #fff;
            padding: 40px;
            border-radius: 10px;
            margin: 20px auto;
            max-width: 1000px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .btn{
			margin-bottom: 40px;
			color: black;
			background-color: rgb(0, 250, 146);
		}

        .header1 {
            font-size: 30px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            text-align: center;
            margin-top: 20px;
        }

        .header3 {
            text-align: right;
        }

        .nav-link {
            text-decoration: none;
            color: #007BFF;
        }

        .nav-link:hover {
            text-decoration: underline;
        }

        .card {
            border: solid rgb(0, 250, 146) 1px;
            border-radius: 10px;
            margin-bottom: 20px;
            
            transition: transform 0.3s;
            background-color: rgb(254, 255, 255);
        }

        .card:hover {
            transform: scale(1.02);
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        }

        .card-title {
            font-size: 24px;
            color: #333;
            font-weight: bold;
            margin: 10px;
            text-align: center;
        }

        .card-subtitle {
            font-size: 18px;
            color: #007BFF;
            margin: 10px;
            text-align: center;
        }

        .card-text {
            font-size: 16px;
            color: #666;
            text-align: center;
            margin: 10px;
        }

        h1 {
            text-align: center;
            color: #333;
        }

